*
{margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face{
	font-family:aller;
	src: url(fuentes/aller.ttf);
}
body{
	font-family: aller !important;
}
.contenedorj{
	position: relative;
	width: 100%;
	max-width: 900px;
	min-height: 1500px;
	background:#fff; 
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.contenedorj .left_slide{
	position: relative;
	background: #081A3D;
	padding: 40px
}
.contactInfo {
	padding-top: 40px;
}

.contactInfo ul{
	position: relative;
	
}
.contactInfo ul li{
	position: relative;
	list-style: none;
	margin: 10px 0;
	
}
.contactInfo ul li .icon{
	display:inline-block;
	width: 30px;
	font-size: 18px;
	color:white
}
.contactInfo ul li span{
color:white;	
}
.contactInfo.education li
{
	margin-bottom: 15px;
}
.contactInfo.education li h5{
	color:#0055B8;
	font-weight: 500px;	
}
.contactInfo.education h4:nth-child(2){
	color:#fff;
	font-weight: 500px;
}
.contactInfo.education h4{
	color:#fff;
	font-weight: 500px;
}
.contactInfo.lenguajes .percent{
	position: relative;
	width: 100%;
	height: 6px;
	background: white;
	display: block;
	margin-top: 5px;
}
.contactInfo.lenguajes .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #0055B8;
	
}
.title{
	color:#fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom:20px;
}
.info{
	color:white;
}
.profileText{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
.profileText .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profileText h2{
	color:#fff;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
	
}
 
.disenador{
	font-size: 1.5em;
	font-weight: 600;
	color: white;
}

.contenedorj .rigth_slide{
	position: relative;
	background: #F3F0F0;
	padding: 40px
}

.about{
	margin-bottom: 50px;
}
.about .box{
	display: flex;
	flex-direction: row;
	margin: 20px;
}
.about .box .year_company{
	min-width: 150px;
}
.about .box .year_company h5{
	text-transform: uppercase;
	color:#848c90;
	font-weight: 600;
}
.about .box .text h4{
	text-transform: uppercase;
	color:#0055B8;
	
}
.about:last-child {
	margin-bottom: 0px;
}
.title2{
	color:#0055B8;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.skills .box{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}
.skills .box h4{
	color:#848c99;
	font-weight: 500;
	
}
.skills .box .percent{
	position: relative;
	width: 100%;
	height: 10px;
	background: grey;
}
.skills .box .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background:#0055B8 ;
}

.foot {
  text-align: center;
  padding: 3px;
	  background-color:#081A3D;
  color: white;
  width: 100%; height: 200px;
	
}
